<span class="bb-palm-leaf-icon" aria-hidden="true">
  <img
    src="https://cdn.shopify.com/s/files/1/1006/3341/1874/files/plam_-_straight_stem.svg?v=1782336449"
    alt=""
    width="20"
    height="20"
    loading="lazy"
    decoding="async"
  >
</span>
