<span class="bb-palm-leaf-icon" aria-hidden="true">
  <img
    src="https://cdn.shopify.com/s/files/1/1006/3341/1874/files/palm_leaf.png?v=1782343118"
    alt=""
    width="14"
    height="18"
    loading="lazy"
    decoding="async"
  >
</span>
