<span class="bb-palm-leaf-icon" aria-hidden="true">
  <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 2c-2 4-6 6-6 10a4 4 0 0 0 8 0c0-4-4-6-8-10z" fill="currentColor"/>
    <path d="M12 2v3M10 4.5h4" stroke="currentColor" stroke-width="1.2" stroke-linecap="round"/>
  </svg>
</span>
