<span class="bb-star-divider" aria-hidden="true">
  <span class="bb-star-divider__line"></span>
  <svg class="bb-star-divider__star" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
    <path d="M12 2l2.2 6.8H21l-5.5 4 2.1 6.7L12 15.4 6.4 19.5l2.1-6.7L3 8.8h6.8L12 2z"/>
  </svg>
  <span class="bb-star-divider__line"></span>
</span>
