{%- liquid
  assign cta_url = routes.all_products_collection_url
  if section.settings.cta_link != blank
    assign cta_url = section.settings.cta_link
  endif
  assign bb_palm_shadow_url = 'https://cdn.shopify.com/s/files/1/1006/3341/1874/files/palm_leaf.png?v=1782343118'
-%}

<div class="bb-wishlist-cta hide" data-bb-wishlist-cta>
  <div class="bb-wishlist-cta__copy">
    <span>{{ section.settings.cta_text | default: 'Ready to make it yours? Add your favorites to the bag or continue exploring.' | escape }}</span>
  </div>
  <a href="{{ cta_url }}" class="bb-wishlist-cta__btn a--no-hover-color">{{ section.settings.cta_button | default: 'CONTINUE SHOPPING' | escape }}</a>
  <img
    class="bb-wishlist-cta__shadow"
    src="{{ bb_palm_shadow_url }}"
    alt=""
    width="120"
    height="160"
    loading="lazy"
    decoding="async"
    aria-hidden="true"
  >
</div>
