{%- if cart != empty -%}
<div class="cart-count-bubble header__button__bubble">
  {%- if cart.item_count < 100 -%}
  <span class="body3-no-scale header__button__bubble__count" aria-hidden="true">{{ cart.item_count }}</span>
  {%- endif -%}
  <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
</div>
{%- endif -%}
<span class="cart-icon-bubble{% if cart != empty %} cart-icon-bubble_hide-tablet{% endif %}">
  {%- render 'icon-cart' -%}
</span>
<span class="body2 header__button__bubble__text">{{ 'sections.header.icon_cart' | t }}</span>