{% comment %}
  Code to display image or svg icon

  Accepts:
  - show_icon: {Object} none, image, svg
  - image: {Object} image
  - icon: {String} preset icon name
  - image_custom_width: {Number} default: 40

  Usage:
  {%- render "component-image-icon",
      show_icon: block.settings.show_icon,
      image: block.settings.image,
      icon: block.settings.icon_name,
      image_custom_width: section.settings.icon_width,
  -%}
{% endcomment %}

{%- if show_icon == 'image' and image != blank -%}
<div class="icon-as-image">
  {%- if image_custom_width == blank -%}
  {%- assign width = 40 -%}
  {%- else -%}
  {%- assign width = image_custom_width -%}
  {%- endif -%}
  {%- assign width2 = width | times: 2 -%}
  {%- capture srcset -%}{{ image | image_url: width: width }} 1x, {{ image | image_url: width: width2 }} 2x{%- endcapture -%}
  {{
    image
    | image_url: width: width
    | image_tag:
      loading: 'lazy',
      width: image.width,
      height: image.height,
      srcset: srcset
  }}
</div>
{%- elsif show_icon == 'svg' and icon != blank -%}
{%- render 'icons-list' icon_name: icon -%}
{%- endif -%}