{%- assign badges = section.blocks | where: "type", "badges" -%}
{%- if badges != blank -%}
{%- capture badges_html -%}
{%- for block in badges -%}
{%- assign menu_item_name = ',' | append:item_name | append:',' | downcase -%}
{%- for i in (1..5) -%}
{%- assign names = 'badge_items_' | append: i -%}
{%- assign names = ',' | append: block.settings[names] | append:',' | downcase | strip_newlines | replace:', ',',' | replace:' ,',',' -%}
{%- if names contains menu_item_name -%}
{%- assign text = 'badge_text_' | append: i -%}
{%- assign text = block.settings[text] -%}
{%- assign bg = 'badge_color_bg_' | append: i -%}
{%- assign bg = block.settings[bg] -%}
{%- assign color = 'badge_color_' | append: i -%}
{%- assign color = block.settings[color] -%}
{%- liquid
  assign style = ''
  if bg != "rgba(0,0,0,0)"
  assign bg = 'background:' | append: bg | append: ';'
  else
  assign bg = ''
  endif
  if color != "rgba(0,0,0,0)"
  assign color = 'color:' | append: color | append: ';'
  else
  assign color = ''
  endif
  if bg != "rgba(0,0,0,0)" or color != "rgba(0,0,0,0)"
  assign style = 'style="' | append: bg | append: color | append: '"'
  endif
-%}
<div class="badges-item__menu badges-item__small" {{ style }}>
  {{ text }}
</div>
{%- endif -%}
{%- endfor -%}
{%- endfor -%}
{%- endcapture -%}
{%- if badges_html != blank -%}
{%- if fixed -%}
<div class="badge__menu__fixed">
{%- endif -%}
{%- if show_inline -%}
{{ badges_html }}
{%- else -%}
<div class="badges__container{% if gap3 == blank %} badges__container--gap5{% endif %}">{{ badges_html }}</div>
{%- endif -%}
{%- if fixed -%}
</div>
{%- endif -%}
{%- endif -%}
{%- endif -%}