<div class="external-megamenu-items" data-name="{% if block.settings.heading_closed_menu %}closed-menu{% else %}{{ block.settings.heading | handleize }}{% endif %}">
{% content_for 'blocks' %}
</div>

{% schema %}
  {
    "name": "Megamenu item",
    "settings": [
      {
        "visible_if": "{{ block.settings.heading_closed_menu == false }}",
        "type": "paragraph",
        "content": "Create a menu item that functions as a mega menu, and blocks from the current location will be added to this mega menu."
      },
      {
        "visible_if": "{{ block.settings.heading_closed_menu == false }}",
        "type": "text",
        "id": "heading",
        "label": "Menu item name"
      },
      {
        "type": "header",
        "content": "Header closed menu"
      },
      {
        "type": "paragraph",
        "content": "If the header type is a closed menu and you need additional blocks, enable the option to connect the blocks."
      },
      {
        "type": "checkbox",
        "id": "heading_closed_menu",
        "default": false,
        "label": "Enable blocks"
      }
    ],
    "blocks": [
      {"type": "megamenu-banner"},
      {"type": "megamenu-banner-text-outside"},
      {"type": "megamenu-gallery"},
      {"type": "megamenu-blog"},
      {"type": "megamenu-grid-products"},
      {"type": "megamenu-featured-collection"},
      {"type": "megamenu-media-with-text"},
      {"type": "megamenu-fake-links"},
      {"type": "megamenu-empty-column"},
    ],
    "presets": [
      {
      	"name": "Megamenu item",
        "blocks": [
          {
            "type": "megamenu-fake-links"
          },
          {
            "type": "megamenu-fake-links"
          },
          {
            "type": "megamenu-fake-links"
          },
          {
            "type": "megamenu-fake-links"
          },
          {
            "type": "megamenu-fake-links"
          },
          {
            "type": "megamenu-fake-links"
          }
        ]
      }
    ]
  }
{% endschema %}