<div class="btn__texts">
  <span class="btn__top-text is-visible">{{ 'general.cart.view' | t: count: cart.item_count }}</span>
  <span class="btn__bottom-text is-hidden">{{ 'general.cart.view' | t: count: cart.item_count }}</span>
</div>