{% comment %}
  Theme loader.

  Accepts:
  - position: {String} loader position. Default fixed.
  - custom_class: {String}

  Usage:
  {%- render 'loader', position: "absolute" -%}
{% endcomment %}

<div class="themeloader_container{% if position != blank %} themeloader_container--absolute{% endif %} {{ custom_class }}" aria-labelledby="loader">
  <div class="themeloader_container__content">
    <div class="themeloader">
      <div class="themeloader__ball"></div>
      <div class="themeloader__ball"></div>
      <div class="themeloader__ball"></div>
    </div>
  </div>
</div>